* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 2em;
}

h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: green;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

footer ul {
  display: flex;
}

footer ul li {
  list-style: none;
  padding: 10px;
}

footer p {
  padding: 10px;
}
